.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background: #fff;
  padding: 60px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  width: 520px;
  border-radius: 2px;
}

.popup.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  z-index: 999;
}

.popup_bg.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.popup-title {
  font-size: 24px;
  font-family: 'Roboto_Bold';
  font-weight: 700;
  line-height: 28px;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.popup_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup_form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.popup_form.hidden {
  display: none;
}

.popup_form-text {
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 16px;
  position: relative;
}

.popup_form-text.required::after {
  position: absolute;
  content: '*';
  color: #6cb71d;
  font-size: 14px;
  top: 0;
}

.popup_form-input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
}

.popup_form-input.error {
  border-color: #ff3860;
}

.popup-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 30px;
}

.popup-btn-success {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 40px;
  cursor: pointer;
}

.popup-btn-success.hidden {
  display: none;
}

.popup-text {
  text-align: center;
}

.popup-error {
  font-size: 12px;
  color: #ff3860;
}

.popup-success {
  text-align: center;
  line-height: 18px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .popup {
    width: 100%;
    padding: 60px 20px;
  }
  .popup-title {
    white-space: initial;
  }
}
